.container
	%center
		%h2
			NOS ENFOCAMOS EN TU COMODIDAD Y LA DE TUS CLIENTES 	
	%hr
	.col-lg-6.col-md-6.col-sm-6
		= image_tag "frontend/mobile.png", id: "mobile-img", class: "mobile-show hidden-xs"
	.col-lg-6.col-md-6.col-sm-6
		.group-according
			.according-head
				%a{"aria-controls" => "about-description", "aria-expanded" => "true", "data-toggle" => "collapse", :href => "#about-description", style: "color: #1976D2" }
					%i.fa.fa-briefcase
					Sobre Inyxtech
			.according-body
				#about-description.collapse.in
					%p
						Inyxtech se conforma por equipo integral de consultores técnicos, desarrolladores y diseñadores con varios años de experiencia, apasionados con lo que hacen, aman su trabajo y tienen como proposito el servir a los clientes y a la comunidad que los rodea.
					%p
						Estamos comprometidos con agregarle valor a su negocio de tal manera que invertimos con gran gusto en una relación profesional a largo plazo. Creemos en la comunicación honesta y abierta con nuestros clientes y tratamos de crear un ambiente agradable para todos los involucrados en nuestros proyectos.

			%br

			.according-head
				%a{"aria-controls" => "about-why", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#about-why", style: "color: #FF5252" }
					%i.fa.fa-question-circle
					¿Por qué elegirnos?
			.according-body
				#about-why.collapse
					%p
						Su sitio web debe ser fácil de encontrar, fácil de usar, fácil de actualizar, agradable a la vista y lo más importante, cómodo para que sus clientes puedan hacer negocio con usted.
					
					%p 
						Gracias a nuestra experiencia en el área hemos traído las más innovadoras y rentables soluciones de diseño y desarrollo web para empresas u organizaciones, ayudándoles a darse cuenta del enorme potencial que el marketing digital tiene para ofrecerles.
					
					%p 
						Siempre tratamos de hacer una diferencia en las personas para las que trabajamos cada día, teniendo como principio fundamental el de dar el 100%, con honestidad y franqueza.
					
				
			%br
			
			.according-head
				%a{"aria-controls" => "about-employee", "aria-expanded" => "false", "data-toggle" => "collapse", :href => "#about-employee", style: "color:#009688"}
					%i.fa.fa-group
					¿Te gustaria pertenecer a nuestro equipo?
			.according-body
				#about-employee.collapse
					%p
						En Inyxtech creemos que un buen ambiente de trabajo proporciona una comunicación abierta y amable, da la oportunidad de compartir conocimientos y adoptar nuevas habilidades, llevando a un equilibrio entre trabajo y una vida saludable.
					%p
						Si deseas unirte a nuestro equipo de profesionales apasionados y talentosos, ayudar a la construcción de sitios web desafiantes, solucionar problemas técnicos interesantes, crear diseños impresionantes, tienes la libertad de enviar tu CV a la sguiente dirección:
						= link_to "employment@inyxtech.com", "mailto: employment@inyxtech.com"
						

:javascript
	$('.collapse').on('show.bs.collapse', function () {
		$('.according-body').find('.in').collapse('hide')
	})