.container
	%center
		%h2
			LLEVEMOS TU NEGOCIO AL SIGUIENTE NIVEL
	%hr
	.col-lg-6.col-md-6.col-sm-6.col-xs-12
		= render "layouts/frontend/messages"
		= form_tag('/contact_us/send_contact_message', method: "post") do
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					= text_field_tag :name, "", :class=>'form-control', :type => "text", :placeholder=>'Nombre', style: 'margin-bottom: 10px;'
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					= text_field_tag :email, "", :class=>'form-control', :type => "text", :placeholder=>'Email', style: 'margin-bottom: 10px;'
			= text_field_tag :subject, "", :class=>'form-control', :type => "text", :placeholder=>'Asunto', style: 'margin-bottom: 10px;'
			= text_area_tag :content, "", :class=>'form-control' , :placeholder=>'Mensaje', style: 'margin-bottom: 10px; height: 80px;'
			
			.row
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					#recaptcha_widget{:style => "display:block"}
						#recaptcha_image
				.col-lg-6.col-md-6.col-sm-6.col-xs-12
					.input-group{ style:'margin-top: 5px; margin-bottom:10px;'}
						= text_field_tag :recaptcha_response_field, "",type: "text", id: "recaptcha_response_field", class: "form-control", placeholder: "Captcha"
						%span.input-group-btn
							= button_tag "<i class='fa fa-refresh'></i>".html_safe, :type => "button", class: "form-control", :onclick => "javascript:Recaptcha.reload(); return false;"
			= raw recaptcha_tags :display => { :theme => 'custom', lang: 'es' }, ajax: true
			= button_tag(type: 'submit', class: "btn", style:"width:100%") do
				%i.fa.fa-envelope.fa-2x
	.col-lg-6.col-md-6.col-sm-6.col-xs-12
		.contact-info
			%p.hidden-xs{ style: "font-size: 18px;"}
				Puedes comunicarte con nosotros de
				%b 8am
				a 
				%b 4pm 
				de lunes a viernes, tambien te invitamos a contactarnos por medio de un email o formulario.
			%ul
				%li 
					%span Dirección: 
					%div
						Calle Paez entre Bolivia y Ecuador, Punto Fijo - Edo. Falcón.
				%br
				%li 
					%span Ventas.
					%div
						Télefono: +58 0414-6738572
					%div
						Email: contact@inyxtech.com
				%br
				%li 
					%span Soporte. 
					%div
						Télefono: +58 0412-0690606
					%div
						Email: support@inyxtech.com