.socials
	= image_tag "admin/inyxtech.png", width: "160px;"
	%center
		%ul.icons-social
			%li
				= link_to "mailto:sales@inyxtech.com", target: "_blank", class: "envelope" do
					%i.fa.fa-envelope
			%li
				= link_to "https://www.facebook.com/Inyxtech?ref=aymt_homepage_panel", target: "_blank", class: "twitter" do
					%i.fa.fa-twitter
			%li
				= link_to "https://twitter.com/Inyxtech", target: "_blank", class: "facebook" do
					%i.fa.fa-facebook
			%li
				= link_to "https://www.linkedin.com/company/inyxtech?trk=top_nav_home", target: "_blank", class: "linkedin" do
					%i.fa.fa-linkedin
			%li
				= link_to "https://plus.google.com/u/0/b/118171059701647332816/118171059701647332816/posts", target: "_blank", class: "google-plus" do
					%i.fa.fa-google-plus
			%li
				= link_to "https://github.com/inyxtech", target: "_blank", class: "github" do
					%i.fa.fa-github-alt
.credits
	.row
		.col-sm-6.col-x-12
			%p
				Desarrollado por SliceGroup
		.col-sm-6.col-x-12
			%p
				%span
					Copyright
					%i.fa.fa-copyright 
					= Date.today.strftime("%Y")
					Inyxtech
				

