.container
	.col-lg-12.col-md-12.col-sm-12.col-xs-12{ style: "height: 270px;"}
		%center 
			%h1
				DESARROLLAMOS LAS ESTRATEGIAS TECONOLÓGICAS PARA EL
				%span
					%b CRECIMIENTO DE TU NEGOCIO
	.col-lg-2.col-md-2.col-sm-2.col-xs-12
		#text-one.hidden-md.hidden-sm.hidden-xs
			%h5 Automatizamos procesos
			%small Maximizamos la productividad y la efectividad de los procesos que maneja tu empresa.
			= image_tag "frontend/arrow-left.png"
	.col-lg-8.col-md-8.col-sm-8.col-xs-12
		.image-desktop
			= image_tag "frontend/desktop.png", id: "img-desktop"
	.col-lg-2
		#text-two.hidden-md.hidden-sm.hidden-xs
			= image_tag "frontend/arrow-right.png"
			%h5 Tu negocio en la web
			%small Impulsamos y extendemos tu modelo de negocio a través de la internet.

:javascript
	$("#img-desktop").bind('oanimationend animationend webkitAnimationEnd', function() { 
		$("h3").addClass("show")
		$("#text-one").addClass("show")
		$("#text-two").addClass("show")
		$("h3").css("opacity", 1)
		$("#text-one").css("opacity", 1)
		$("#text-two").css("opacity", 1)
	});
