.container
	%center
		%h2
			ELLOS CONFIARON EN NOSOTROS
		%hr
	%ellos
	.row
		- @attachments.each do |attachment|
			.col-lg-4.col-md-4.col-sm-4.col-xs-12#image-column-porfolio
				.mask-porfolio
					= link_to attachment.target, target:"_blank" do				
						%span.fa-stack
							%i.fa.fa-circle.fa-stack-2x
							%i.fa.fa-link.effect.fa-inverse.fa-stack-1x
				.image-porfolio{style:"background-image: url(#{attachment.image});"}

