%li{ class: "#{'active' if params[:controller] == 'admin'}" }
  = link_to main_app.admin_index_path do
    %i.fa.fa-desktop
    Dashboard
= render "layouts/admin/links_engines"
- if can? :index, User
  %li{ class: "#{'active' if params[:controller] == 'users'}" }
    = link_to main_app.users_path do
      %i.fa.fa-user
      = t('user.model')

%li.visible-xs
  = link_to main_app.root_path do
    = "<i class='fa fa-reply'></i> #{t("navbar-admin.website")}".html_safe
