.panel-info{
	background:#F3D164;
	color: #ffffff;
	padding: 15px;
	margin-top: 30px;
	box-shadow: 0px 1px 5px #c0c0c0;
	.number-info{
		font-size: 60px;
		font-weight: bold;
		margin-bottom: -10px;

	}
	.title-info{
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 0px;
	}
	.icon-info{
		font-size: 80px;
		font-weight: bold;
		opacity: .3;
	}

}

.panel-info2{
	background: #ffffff;
	border:1px solid #EFEFEF;
	color: #ffffff;
	height: 333px;
	margin-top: 30px;
	box-shadow: 0px 1px 5px #c0c0c0;
}


