%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Inyxtech - Diseño y desarrollo web - Desarrollo de Software'
	%meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Nos especializamos en diseño y desarrollo web y servicios de consultoría para pequeñas y medianas empresas, ayudándoles a reducir los riesgos en la ejecución de proyectos, aceleramos los proceso proporcionando metodologías agiles para el desarrollo de software.'}"}
	%link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,700, 900", :rel => "stylesheet", :type => "text/css"}/
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= favicon_link_tag "admin/logo.png"
	= csrf_meta_tags