-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top#front-navbar
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = image_tag "admin/logo.png", width: "40px", style: "margin-top:5px;margin-right:20px;" , class: "hidden-xs"
      .visible-xs.navbar-brand
        = image_tag "admin/logo.png", width: "40px", style: "margin-top:-10px"
    .collapse.navbar-collapse
      %ul.nav.navbar-nav{ class: "#{'top-nav' if action_name == 'index'}"}     
        = render 'layouts/frontend/navigation_links'
      %ul.nav.navbar-nav.pull-right.hidden-xs.hidden-sm
        - if user_signed_in?
          %li= link_to '<i class="fa fa-lock" style="margin-right:5px;"></i> SIGN OUT'.html_safe, main_app.destroy_user_session_path, :method=>'delete'
        - else
          %li= link_to '<i class="fa fa-lock" style="margin-right:5px;"></i> SIGN IN'.html_safe, main_app.new_user_session_path

          
