- if action_name == "index"
	%li= link_to 'HOME'.html_safe, "#home"
	%li= link_to 'SERVICIOS'.html_safe, "#services"
	%li= link_to 'NOSOTROS'.html_safe, "#about"
	%li= link_to 'PORTAFOLIO'.html_safe, "#porfolio"
	%li= link_to 'CONTACTO'.html_safe, "#contact_us"
	- if user_signed_in?
		%li= link_to '<i class="fa fa-lock" style="margin-right:5px;"></i> SIGN OUT'.html_safe, main_app.destroy_user_session_path, :method=>'delete', class: "visible-xs visible-sm external"
	- else
		%li= link_to '<i class="fa fa-lock" style="margin-right:5px;"></i> SIGN IN'.html_safe, main_app.new_user_session_path, class: "visible-xs visible-sm external"
- else
	%li= link_to 'HOME'.html_safe, root_path(anchor: "home")
	%li= link_to 'SERVICES'.html_safe, root_path(anchor: "services")
	%li= link_to 'ABOUT'.html_safe, root_path(anchor: "about")
	%li= link_to 'CONTACT'.html_safe, root_path(anchor: "contact")

