.authform
  = image_tag "admin/logo.png", class: "logo-login"
  = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f|
    = devise_error_messages!
    .form-group
      - if devise_mapping.registerable?
        = #link_to 'Sign up', new_registration_path(resource_name), class: 'right'
      %label= t("devise.Email")
      .input-group{ style: "margin-bottom:15px;" }
        %span.input-group-addon
          %i.fa.fa-user
        = f.email_field :email, :autofocus => true, class: 'form-control transparent', placeholder: "Tu email"
      %label= t("devise.password")
      .input-group
        %span.input-group-addon
          %i.fa.fa-lock
        = f.password_field :password, class: 'form-control transparent', placeholder: "Tu contraseña"
    .form-actions
      = f.submit t("devise.sign-in"), :class => 'btn btn-lg btn-warning'
      .recoverable
        - if devise_mapping.recoverable?
          = link_to new_password_path(resource_name) do
            = t("devise.password?")
      

