/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:992px){
	#about {
		background: #f5f5f5;
		padding-top: 80px;
		padding-bottom: 80px;

		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;	
			font-weight: 300;
		}

		hr {
			border-bottom: 1px solid #ccc;
			max-width: 400px;
			margin-bottom: 50px;
		}
		
		.group-according {
			margin-top: 20px;
		}

		.according-head {
			a {
				text-decoration: none;
				font-size: 1.3em;
				font-weight: 300;
			}

			i {
				margin-right: 10px;
				font-size: 1.2em;
				webkit-transition: 100ms;
				transition: 100ms;
			}
		}

		.according-head:hover {
			i {
				-webkit-transform: scale(1.4);
				transform: scale(1.4);
			}
		}

		.according-body {
			padding-top: 5px;

			p {
				font-size: 1.1em;
				font-weight: 300;
				text-align: justify;
			}
		}

		.mobile-show {
			position: relative;
			opacity: 0;
			left: -600px;
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#about {
		background: #f5f5f5;
		padding-top: 80px;
		padding-bottom: 80px;

		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;	
			font-size: 1.5em;
			font-weight: 300;
		}

		hr {
			border-bottom: 1px solid #ccc;
			max-width: 400px;
			margin-bottom: 50px;
		}
		
		.group-according {
		}

		.according-head {
			a {
				text-decoration: none;
				font-size: 1.3em;
				font-weight: 300;
			}

			i {
				margin-right: 10px;
				font-size: 1.2em;
				webkit-transition: 100ms;
				transition: 100ms;
			}
		}

		.according-head:hover {
			i {
				-webkit-transform: scale(1.4);
				transform: scale(1.4);
			}
		}

		.according-body {
			padding-top: 5px;

			p {
				font-size: 1.1em;
				font-weight: 300;
				text-align: justify;
			}
		}

		.mobile-show {
			position: relative;
			opacity: 0;
			left: -600px;
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#about {
		background: #f5f5f5;
		padding-top: 80px;
		padding-bottom: 80px;

		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;	
			font-weight: 300;
		}

		hr {
			border-bottom: 1px solid #ccc;
			max-width: 400px;
			margin-bottom: 50px;
		}
		
		.group-according {
			margin-top: 20px;
		}

		.according-head {
			a {
				text-decoration: none;
				font-size: 1.3em;
				font-weight: 300;
			}

			i {
				margin-right: 10px;
				font-size: 1.2em;
				webkit-transition: 100ms;
				transition: 100ms;
			}
		}

		.according-head:hover {
			i {
				-webkit-transform: scale(1.4);
				transform: scale(1.4);
			}
		}

		.according-body {
			padding-top: 5px;

			p {
				font-size: 1.1em;
				font-weight: 300;
				text-align: justify;
			}
		}

		.mobile-show {
			position: relative;
			opacity: 0;
			left: -600px;
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
}
