/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:992px){
	#contact_us {
		background: image-url("frontend/contact-bg.jpg") no-repeat;
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		color: white;
		padding-bottom: 100px;
		padding-top: 70px;
		
		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;	
			font-weight: 300;
		}

		hr {
			border-bottom: 0.5px solid;
			border-color: rgba(255,255,255,.1);
			max-width: 400px;
			margin-bottom: 50px;
		}

		input {
			background-color: transparent;
			border-color: rgba(255,255,255,.1);
			height: 50px;
			border-radius: 0;
			box-shadow: none;
			color: white;
			font-weight: 300;
		} 

		textarea {
			background-color: rgba(255, 0, 0, 0);
			border-color: rgba(255,255,255,.1);
			min-height: 200px;
			resize: none;
			border-radius: 0;
			box-shadow: none;
			color: white;
			font-weight: 300;
		}

		#recaptcha_widget {
			position: relative;
			#recaptcha_image {
				width: 100% !important;
				img {
					position: relative;
					left: 0px;
					top: 5px;
					width: 100%;
					margin: 0px;
					height: 50px;
					opacity: .3;
				}
			}
		}

		.input-group-btn {
			button {
				height: 50px;
				background-color: transparent;
				color: white;
				border-color: rgba(255,255,255,.1);
				border-left: none;
				box-shadow: none;
			}
		}

		.btn {
			background-color: #FFC107;
			border-radius: 0px;
			margin-top: 10px;
		}

		.btn:hover {
			background-color: #E6AC01;
			i {
				color: white;
			}
		}

		.contact-info {
			margin-top: 20px;
			padding-left: 70px;
			font-size: 1.1em;
			font-weight: 300;

			ul {
				margin-top: 20px;
				list-style-type: none;
				padding-left: 0px;
			}

			span {
				font-weight: 400;
			}
		}	
	}
}

/*phone*/
@media(max-width:767px) {
	#contact_us {
		background: image-url("frontend/contact-bg.jpg") no-repeat;
		background-size: 200% 100%;
		color: white;
		padding-bottom: 100px;
		padding-top: 70px;
		
		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;
			font-size: 1.5em;
			font-weight: 300;
		}

		hr {
			border-bottom: 0.5px solid;
			border-color: rgba(255,255,255,.1);
			max-width: 400px;
			margin-bottom: 50px;
		}

		input {
			background-color: transparent;
			border-color: rgba(255,255,255,.1);
			height: 50px;
			border-radius: 0;
			box-shadow: none;
			color: white;
			font-weight: 300;
		} 

		textarea {
			background-color: rgba(255, 0, 0, 0);
			border-color: rgba(255,255,255,.1);
			min-height: 200px;
			resize: none;
			border-radius: 0;
			box-shadow: none;
			color: white;
			font-weight: 300;
		}

		#recaptcha_widget {
			position: relative;
			#recaptcha_image {
				width: 100% !important;
				img {
					position: relative;
					left: 0px;
					top: 5px;
					width: 100%;
					margin: 0px;
					height: 50px;
					opacity: .3;
				}
			}
		}

		.input-group-btn {
			button {
				height: 50px;
				background-color: transparent;
				color: white;
				border-color: rgba(255,255,255,.1);
				border-left: none;
				box-shadow: none;
			}
		}

		.btn {
			background-color: #FFC107;
			border-radius: 0px;
			margin-top: 10px;
		}

		.btn:hover {
			background-color: #E6AC01;
			i {
				color: white;
			}
		}

		.contact-info {
			margin-top: 20px;
			font-size: 1.1em;
			font-weight: 300;

			ul {
				margin-top: 60px;
				list-style-type: none;
				padding-left: 0px;
			}

			span {
				font-weight: 400;
			}
		}	
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#contact_us {
		background: image-url("frontend/contact-bg.jpg") no-repeat;
		background-attachment: fixed;
		background-position: center center;
		background-size: cover;
		color: white;
		padding-bottom: 100px;
		padding-top: 70px;
		
		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;	
			font-weight: 300;
		}

		hr {
			border-bottom: 0.5px solid;
			border-color: rgba(255,255,255,.1);
			max-width: 400px;
			margin-bottom: 50px;
		}

		input {
			background-color: transparent;
			border-color: rgba(255,255,255,.1);
			height: 50px;
			border-radius: 0;
			box-shadow: none;
			color: white;
			font-weight: 300;
		} 

		textarea {
			background-color: rgba(255, 0, 0, 0);
			border-color: rgba(255,255,255,.1);
			min-height: 200px;
			resize: none;
			border-radius: 0;
			box-shadow: none;
			color: white;
			font-weight: 300;
		}

		#recaptcha_widget {
			position: relative;
			#recaptcha_image {
				width: 100% !important;
				img {
					position: relative;
					left: 0px;
					top: 5px;
					width: 100%;
					margin: 0px;
					height: 50px;
					opacity: .3;
				}
			}
		}

		.input-group-btn {
			button {
				height: 50px;
				background-color: transparent;
				color: white;
				border-color: rgba(255,255,255,.1);
				border-left: none;
				box-shadow: none;
			}
		}

		.btn {
			background-color: #FFC107;
			border-radius: 0px;
			margin-top: 10px;
		}

		.btn:hover {
			background-color: #E6AC01;
			i {
				color: white;
			}
		}

		.contact-info {
			margin-top: 20px;
			padding-left: 70px;
			font-size: 1.1em;
			font-weight: 300;

			ul {
				margin-top: 20px;
				list-style-type: none;
				padding-left: 0px;
			}

			span {
				font-weight: 400;
			}
		}	
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#contact_us {
		background: image-url("frontend/contact-bg.jpg") no-repeat;
		background-size: 150% 800px;
		color: white;
		padding-bottom: 100px;
		padding-top: 70px;
		
		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;	
			font-weight: 300;
		}

		hr {
			border-bottom: 0.5px solid;
			border-color: rgba(255,255,255,.1);
			max-width: 400px;
			margin-bottom: 50px;
		}

		input {
			background-color: transparent;
			border-color: rgba(255,255,255,.1);
			height: 50px;
			border-radius: 0;
			box-shadow: none;
			color: white;
			font-weight: 300;
		} 

		textarea {
			background-color: rgba(255, 0, 0, 0);
			border-color: rgba(255,255,255,.1);
			min-height: 200px;
			resize: none;
			border-radius: 0;
			box-shadow: none;
			color: white;
			font-weight: 300;
		}

		#recaptcha_widget {
			position: relative;
			#recaptcha_image {
				width: 100% !important;
				img {
					position: relative;
					left: 0px;
					top: 5px;
					width: 100%;
					margin: 0px;
					height: 50px;
					opacity: .3;
				}
			}
		}

		.input-group-btn {
			button {
				height: 50px;
				background-color: transparent;
				color: white;
				border-color: rgba(255,255,255,.1);
				border-left: none;
				box-shadow: none;
			}
		}

		.btn {
			background-color: #FFC107;
			border-radius: 0px;
			margin-top: 10px;
		}

		.btn:hover {
			background-color: #E6AC01;
			i {
				color: white;
			}
		}

		.contact-info {
			margin-top: 20px;
			padding-left: 70px;
			font-size: 1.1em;
			font-weight: 300;

			ul {
				margin-top: 20px;
				list-style-type: none;
				padding-left: 0px;
			}

			span {
				font-weight: 400;
			}
		}	
	}
}




