/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:992px){
	#footer {
		background-color: #272727;
		color: white;

		.socials {
			padding: 30px;

			img {
				margin-bottom: 20px;
			}

			.icons-social {
				text-align: center;
				list-style: none;
				padding: 0;
				margin: 0;
				display: inline-block;

				li {
					float: left;
					margin-right: 8px;

					a {
						color: #fff;
						background-color: rgba(0,0,0,.4);
						border-radius: 3px;
						height: 36px;
						width: 36px;
						line-height: 36px;
						display: block;
						font-size: 16px;
						opacity: 0.8;
					}

					a:hover {
						-webkit-transform: scale(1.2);
						transform: scale(1.2);
						webkit-transition: 300ms;
						transition: 300ms;
					}

					.twitter:hover {
						background-color: #2ac6f7;
					}

					.facebook:hover {
						background-color: #3b5999;
					}

					.linkedin:hover {
						background-color: #036dc0;
					}

					.google-plus:hover {
						background-color: #d34836;
					}

					.envelope:hover {
						background-color: #009688;
					}

					.github:hover {
						background-color: #CECB26;
					}
				}
			}
		}

		.credits {
			background-color: #272727;
			border-top: 1px solid #1c1c1c;
			-webkit-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
			-moz-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
			box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
			padding: 20px;
			font-weight: 300;

			.row {
				margin-left: 70px;
				margin-right: 70px;
			}

			p {
				text-align: left;
				color: white;
				font-size: 1em;
				margin-bottom: 3px
			}

			span {
				float: right;
				margin-left: 2px;
			}

		}
	}
}

/*phone*/
@media(max-width:767px) {
	#footer {
		background-color: #272727;
		color: white;

		.socials {
			padding: 30px;

			img {
				margin-bottom: 20px;
			}

			.icons-social {
				text-align: center;
				list-style: none;
				padding: 0;
				margin: 0;
				display: inline-block;

				li {
					float: left;
					margin-right: 8px;

					a {
						color: #fff;
						background-color: rgba(0,0,0,.4);
						border-radius: 3px;
						height: 28px;
						width: 28px;
						line-height: 28px;
						display: block;
						font-size: 16px;
						opacity: 0.8;
					}

					a:hover {
						-webkit-transform: scale(1.2);
						transform: scale(1.2);
						webkit-transition: 300ms;
						transition: 300ms;
					}

					.twitter {
						background-color: #2ac6f7;
					}

					.facebook {
						background-color: #3b5999;
					}

					.linkedin {
						background-color: #036dc0;
					}

					.google-plus {
						background-color: #d34836;
					}

					.envelope {
						background-color: #009688;
					}

					.github {
						background-color: #CECB26;
					}
				}
			}
		}

		.credits {
			background-color: #272727;
			border-top: 1px solid #1c1c1c;
			-webkit-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
			-moz-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
			box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
			padding: 20px;
			font-weight: 300;

			p {
				text-align: center;
				color: white;
				font-size: 1em;
				margin-bottom: 3px
			}

			span {
				text-align: center;
			}

		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#footer {
		background-color: #272727;
		color: white;

		.socials {
			padding: 30px;

			img {
				margin-bottom: 20px;
			}

			.icons-social {
				text-align: center;
				list-style: none;
				padding: 0;
				margin: 0;
				display: inline-block;

				li {
					float: left;
					margin-right: 4px;
					margin-left: 4px;

					a {
						color: #fff;
						background-color: rgba(0,0,0,.4);
						border-radius: 3px;
						height: 36px;
						width: 36px;
						line-height: 36px;
						display: block;
						font-size: 16px;
						opacity: 0.8;
					}

					a:hover {
						-webkit-transform: scale(1.2);
						transform: scale(1.2);
						webkit-transition: 300ms;
						transition: 300ms;
					}

					.twitter:hover {
						background-color: #2ac6f7;
					}

					.facebook:hover {
						background-color: #3b5999;
					}

					.linkedin:hover {
						background-color: #036dc0;
					}

					.google-plus:hover {
						background-color: #d34836;
					}

					.envelope:hover {
						background-color: #009688;
					}

					.github:hover {
						background-color: #CECB26;
					}
				}
			}
		}

		.credits {
			background-color: #272727;
			border-top: 1px solid #1c1c1c;
			-webkit-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
			-moz-box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
			box-shadow: 0px -1px 1px 0px rgba(82,82,82,0.29);
			padding: 20px;
			font-weight: 300;

			p {
				text-align: left;
				color: white;
				font-size: 1em;
				margin-bottom: 3px
			}

			span {
				float: right;
				margin-left: 2px;
			}

		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#footer {
		.socials {
			.icons-social {
				.twitter {
					background-color: #2ac6f7;
				}

				.facebook {
					background-color: #3b5999;
				}

				.linkedin {
					background-color: #036dc0;
				}

				.google-plus {
					background-color: #d34836;
				}

				.envelope {
					background-color: #009688;
				}

				.github {
					background-color: #CECB26;
				}
			}
		}
	}
}


