/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:992px){
	#home {
		padding-top: 50px;
		background: image-url("frontend/header-bg.jpg") no-repeat fixed;
		background-size: 100%;
		color: white;
		
		span {
			color: white;
		}

		.image-desktop{ 
			position: relative;
			overflow: hidden;

			#img-desktop {
				position: relative;
				width: 100%;
				margin-top: 30px;
				-webkit-animation: image-desktop 1s alternate;
				animation: image-desktop 1s;
			}

		}

		h1 {
			position: relative;
			margin-top: 130px;
			color: white;
			font-weight: 300;
			font-size: 40px;
			-webkit-animation: title-home 1s;
			animation: title-home 1s;
		}

		h3 {
			opacity: 0;
			font-size: 30px;
			font-weight: 300;
		}

		#text-one {
			opacity: 0;
			padding-top: 80px;
			text-align: center;

			h5 {
				font-weight: 700;
			}

			small {
				font-size: 16px;
				font-weight: 300;
			}

			img {
				padding-top: 20px;
			}

		}

		#text-two {
			opacity: 0;
			padding-top: 150px;
			text-align: center;

			h5 {
				font-weight: 700;
			}

			small {
				font-size: 16px;
				font-weight: 300;
			}

		}

		.show {
			-webkit-animation: show 1s;
			animation: show 1s;
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#home {
		padding-top: 50px;
		background: image-url("frontend/header-bg.jpg") no-repeat;
		background-size: 100% 100%;
		color: white;
		
		span {
			color: white;
		}

		.image-desktop{ 
			position: relative;
			overflow: hidden;

			#img-desktop {
				position: relative;
				width: 100%;
				margin-top: 30px;
			}

		}

		h1 {
			position: relative;
			margin-top: 100px;
			color: white;
			font-weight: 300;
			font-size: 1.5em;
		}

		h3 {
			opacity: 0;
			font-size: 30px;
			font-weight: 300;
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#home {
		padding-top: 50px;
		background: image-url("frontend/header-bg.jpg") no-repeat fixed;
		background-size: 100% 800px;
		color: white;
		
		span {
			color: white;
		}

		.image-desktop{ 
			position: relative;
			overflow: hidden;

			#img-desktop {
				position: relative;
				width: 100%;
				margin-top: 30px;
				-webkit-animation: image-desktop 1s alternate;
				animation: image-desktop 1s;
			}

		}

		h1 {
			position: relative;
			margin-top: 130px;
			color: white;
			font-weight: 300;
			font-size: 2.2em;
			-webkit-animation: title-home 1s;
			animation: title-home 1s;
		}

		h3 {
			opacity: 0;
			font-size: 30px;
			font-weight: 300;
		}

		#text-one {
			opacity: 0;
			padding-top: 80px;
			text-align: center;

			h5 {
				font-weight: 700;
			}

			small {
				font-size: 16px;
				font-weight: 300;
			}

			img {
				padding-top: 20px;
			}

		}

		#text-two {
			opacity: 0;
			padding-top: 150px;
			text-align: center;

			h5 {
				font-weight: 700;
			}

			small {
				font-size: 16px;
				font-weight: 300;
			}

		}

		.show {
			-webkit-animation: show 1s;
			animation: show 1s;
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#home {
		padding-top: 50px;
		background: image-url("frontend/header-bg.jpg") no-repeat;
		background-size: 100% 100%;
		color: white;
	}
}

/*keyframes*/
@-webkit-keyframes image-desktop {
	0% {
	  bottom: -500px;
	}

	100% {
	  bottom: 0px;
	}
}

@keyframes image-desktop {
	0% {
	  bottom: -500px;
	}

	100% {
	  bottom: 0px;
	}
}

/*keyframes*/
@-webkit-keyframes title-home {
	0% {
	  top: -500px;
	}

	100% {
	  top: 0px; 
	}
}

@keyframes title-home {
	0% {
	  top: -500px;
	}

	100% {
	  top: 0px;
	}
}


/*keyframes*/
@-webkit-keyframes show {
	0% {
	  opacity: 0;
	}

	100% {
	  opacity: 1;
	}
}

@keyframes show {
	0% {
	  opacity: 0;
	}

	100% {
	  opacity: 1;
	}
}
