/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:992px){
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		font-weight: bold;
		font-size: 14px;
		background-color: transparent;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		padding-top: 20px;
		padding-bottom: 20px;

		a{
			font-weight: 400;
			color:white;
			letter-spacing: 2px;
		}
		
		a:hover {
			color: rgb(126, 126, 126);
			font-weight: 400;
			-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
	    transition: 1s;
		}

		li.current {
			a {
				color: rgb(126, 126, 126);
				letter-spacing: 2px;
				font-weight: 400;
			}
		}

		.navbar-brand {
			color: white;
			font-size: 20px;
		}
	}

	.background-show{
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		background-color: #FFC107 !important;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		-webkit-transition: .2s; /* For Safari 3.1 to 6.0 */
	  transition: .2s;
	}

	.background-hide {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
		background-color: transparent !important;
		-webkit-transition: .2s; /* For Safari 3.1 to 6.0 */
	  transition: .2s;
	}
}

/*phone*/
@media(max-width:767px) {
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		font-weight: bold;
		font-size: 14px;
		background-color: #FFC107;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		padding-top: 10px;
		padding-bottom: 10px;

		a{
			font-weight: 400;
			color:white;
			letter-spacing: 2px;
		}
		
		a:hover {
			color: rgb(126, 126, 126);
			font-weight: 400;
			-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
	    transition: 1s;
		}

		li.current {
			a {
				color: rgb(126, 126, 126);
				letter-spacing: 2px;
				font-weight: 400;
			}
		}

		.navbar-brand {
			color: white;
			font-size: 20px;
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		font-weight: bold;
		font-size: 14px;
		background-color: transparent;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		padding-top: 20px;
		padding-bottom: 20px;
		
		a{
			font-weight: 400;
			color:white;
			letter-spacing: 2px;
		}
		
		a:hover {
			color: rgb(126, 126, 126);
			font-weight: 400;
			-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
	    transition: 1s;
		}

		li.current {
			a {
				color: rgb(126, 126, 126);
				letter-spacing: 2px;
				font-weight: 400;
			}
		}

		.navbar-brand {
			color: white;
			font-size: 20px;
		}
	}

	.background-show{
		padding-top: 10px !important;
		padding-bottom: 10px !important;
		background-color: #FFC107 !important;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		-webkit-transition: .2s; /* For Safari 3.1 to 6.0 */
	  transition: .2s;
	}

	.background-hide {
		padding-top: 20px !important;
		padding-bottom: 20px !important;
		background-color: transparent !important;
		-webkit-transition: .2s; /* For Safari 3.1 to 6.0 */
	  transition: .2s;
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	#front-navbar.navbar-default {
		margin-bottom: 0px;
		font-weight: bold;
		font-size: 12px;
		background-color: #FFC107;
		margin-bottom: 0px;
		border-radius: 0px;
		border: none;
		padding-top: 10px;
		padding-bottom: 10px;

		a{
			font-weight: 400;
			color:white;
			letter-spacing: 2px;
		}
		
		a:hover {
			color: rgb(126, 126, 126);
			font-weight: 400;
			-webkit-transition: 1s; /* For Safari 3.1 to 6.0 */
	    transition: 1s;
		}

		li.current {
			a {
				color: rgb(126, 126, 126);
				letter-spacing: 2px;
				font-weight: 400;
			}
		}

		.navbar-brand {
			color: white;
			font-size: 20px;
		}
	}

	.background-show{
		background-color: #FFC107 !important;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		-webkit-transition: .2s; /* For Safari 3.1 to 6.0 */
	  transition: .2s;
	}

	.background-hide {
		background-color: #FFC107 !important;
		box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
		-webkit-transition: .2s; /* For Safari 3.1 to 6.0 */
	  transition: .2s;
	}
}


