/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:992px){
	#porfolio{
		padding-top: 70px;
		padding-bottom: 70px;

		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;	
			font-weight: 300;
		}

		hr {
			border-bottom: 1px solid #ccc;
			max-width: 400px;
			margin-bottom: 50px;
		}

		.image-porfolio{
			height: 220px;
			width: 101%;
			background-repeat: no-repeat;
			background-size: 100%;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}

		#image-column-porfolio{
			padding-left: 0px;
			padding-right: 0px;
			overflow: hidden;
		}	
		
		#image-column-porfolio:hover{
			.mask-porfolio{
				top:0px;
				z-index: 2;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
			.image-porfolio{
				-webkit-transform: scale(1.2) rotate(4deg);
				transform: scale(1.2) rotate(4deg);
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
		}	

		.mask-porfolio{
			position: absolute;
			top: -100%;
			width: 101%;
			height: 100%;
			background-color:rgba(97, 97, 97, 0.5);
			-moz-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			.fa-stack {
				position: relative;
				display: inline-block;
				font-size: 2em;
				width: 100%;
				line-height: 2em;
				vertical-align: middle;
				color: #FFC107;
				text-align: center;
				top: 36%;
			}
		}

	}
}

/*phone*/
@media(max-width:767px) {
	#porfolio{
		padding-top: 70px;
		padding-bottom: 70px;

		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;
			font-size: 1.5em;	
			font-weight: 300;
		}

		hr {
			border-bottom: 1px solid #ccc;
			width: 100%;
			margin-bottom: 50px;
		}

		.image-porfolio{
			height: 200px;
			width: 100%;
			background-repeat: no-repeat;
			background-size: 100% 100%;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}

		#image-column-porfolio{
			padding-left: 0px;
			padding-right: 0px;
			overflow: hidden;
		}	
		
		#image-column-porfolio:hover{
			.mask-porfolio{
				top:0px;
				z-index: 2;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
			.image-porfolio{
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
		}	

		.mask-porfolio{
			position: absolute;
			top: -100%;
			width: 101%;
			height: 100%;
			background-color:rgba(97, 97, 97, 0.5);
			-moz-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			.fa-stack {
				position: relative;
				display: inline-block;
				font-size: 2em;
				width: 100%;
				line-height: 2em;
				vertical-align: middle;
				color: #FFC107;
				text-align: center;
				top: 36%;
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#porfolio{
		padding-top: 70px;
		padding-bottom: 70px;

		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;	
			font-weight: 300;
		}

		hr {
			border-bottom: 1px solid #ccc;
			max-width: 400px;
			margin-bottom: 50px;
		}

		.image-porfolio{
			height: 220px;
			width: 101%;
			background-repeat: no-repeat;
			background-size: 100%;
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
		}

		#image-column-porfolio{
			padding-left: 0px;
			padding-right: 0px;
			overflow: hidden;
		}	
		
		#image-column-porfolio:hover{
			.mask-porfolio{
				top:0px;
				z-index: 2;
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
			.image-porfolio{
				-webkit-transform: scale(1.2) rotate(4deg);
				transform: scale(1.2) rotate(4deg);
				-webkit-transition: all 0.3s;
				transition: all 0.3s;
			}
		}	

		.mask-porfolio{
			position: absolute;
			top: -100%;
			width: 101%;
			height: 100%;
			background-color:rgba(97, 97, 97, 0.5);
			-moz-transition: all 0.3s ease 0s;
			-o-transition: all 0.3s ease 0s;
			-ms-transition: all 0.3s ease 0s;
			-webkit-transition: all 0.3s ease 0s;
			.fa-stack {
				position: relative;
				display: inline-block;
				font-size: 2em;
				width: 100%;
				line-height: 2em;
				vertical-align: middle;
				color: #FFC107;
				text-align: center;
				top: 36%;
			}
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
}
