/*large desktop*/
@media(min-width:1200px) {
	
}

/*media desktop*/
@media(min-width:992px){
	#services {
		margin-top: 50px;
		margin-bottom: 100px;
		padding-top: 70px;

		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;	
			font-weight: 300;
		}

		hr {
			border-bottom: 1px solid #ccc;
			max-width: 400px;
		}

		.item-services {
			text-align: center;
			margin-top: 40px;

			a{
				font-size: 70px;
				color: #333;
				
				.fa {
					z-index: -1;
				}
				
				span {
					overflow: hidden;
				}
				
				.fa-stack:hover {
					.fa-gear {
						-webkit-animation: spin 2s infinite linear;
						-moz-animation: spin 2s infinite linear;
						-o-animation: spin 2s infinite linear;
						-ms-animation: spin 2s infinite linear;
					}

					.fa-cloud {
						-webkit-animation: cloud 2s infinite linear;
						-moz-animation: cloud 2s infinite linear;
					}

					.fa-paint-brush {
						-webkit-animation: paint 2s infinite linear;
						-moz-animation: paint 2s infinite linear;
					}
				}

				.fa-gear {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.fa-laptop {
    			top: 100px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.fa-paint-brush {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
   				transition: 0.3s;
    		}

    		.fa-tablet {
    			top: 100px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.fa-cloud {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
   				transition: 0.3s;
    		}

    		.fa-money {
    			top: 100px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}
			}

			.active > span {
				color: #FFC107;
				
				.effect-up {
					top: -200px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.effect {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
   				transition: 0.3s;
    		}
			}
		}

		.tab-content {
			padding-top: 50px;
			padding-bottom: 20px;
			padding-left: 0px;
			padding-right: 0px;

			p {
				text-align: justify;
				font-size: 1.1em;
				font-weight: 300;
			}

			.title {
				text-align: center;
				font-size: 24px;
				font-weight: 300;
				color: #333;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			#software-development {
				padding-top: 0px;
			}

			#web-design {
				padding-top: 0px;
			}
		}

		.wrapper-services {
			text-align: center;	
			margin-top: 40px;

			i {
				font-size: 60px;
				color: #FFC107;
			}

			.title {
				font-size: 1.3em;
				font-weight: 300;
				color: #333;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.description {
				font-size: 1.1em;
				font-weight: 300;
			}
		}
	}
}

/*phone*/
@media(max-width:767px) {
	#services {
		margin-top: 50px;
		margin-bottom: 100px;
		padding-top: 70px;

		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20p;	
			font-size: 1.5em;
			font-weight: 300;
		}

		hr {
			border-bottom: 1px solid #ccc;
			max-width: 100%;
		}

		.item-services {
			text-align: center;
			margin-top: 10px;

			a{
				font-size: 70px;
				color: #333;
				
				.fa {
					z-index: -1;
				}
				
				span {
					overflow: hidden;
				}
				
				.fa-gear {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.fa-laptop {
    			top: 100px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.fa-paint-brush {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
   				transition: 0.3s;
    		}

    		.fa-tablet {
    			top: 100px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.fa-cloud {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
   				transition: 0.3s;
    		}

    		.fa-money {
    			top: 100px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}
			}

			.active > span {
				color: #FFC107;
				
				.effect-up {
					top: -200px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.effect {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
   				transition: 0.3s;
    		}
			}
		}

		.tab-content {
			padding-top: 10px;
			padding-bottom: 20px;
			padding-left: 0px;
			padding-right: 0px;

			.tab {
				margin-bottom: 20px;
				border-bottom: solid 1px #dddddd;
				padding-bottom: 60px;
			}

			#business-cloud {
				margin-top: 60px;
			}

			p {
				text-align: justify;
				font-size: 1.1em;
				font-weight: 300;
			}

			.title {
				text-align: center;
				font-size: 1em;
				font-weight: 700;
				color: #333;
				margin-top: 10px;
				margin-bottom: 10px;
			}

		}

		.wrapper {
			margin-top: -10px;
		}

		.wrapper-services {
			text-align: center;	
			margin-top: 40px;

			i {
				font-size: 60px;
				color: #FFC107;
			}

			.title {
				font-size: 1.3em;
				font-weight: 300;
				color: #333;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.description {
				font-size: 1.1em;
				font-weight: 300;
			}
		}
	}
}

/*phone landscape*/
@media(max-width: 767px) and (orientation : landscape) {
}

/*tablet*/
@media(min-width:768px) {
	#services {
		margin-top: 50px;
		margin-bottom: 100px;
		padding-top: 70px;

		h2 {
			font-family: 'Lato', sans-serif;
			margin-bottom: 20px;	
			font-weight: 300;
		}

		hr {
			border-bottom: 1px solid #ccc;
			max-width: 400px;
		}

		.item-services {
			text-align: center;
			margin-top: 40px;

			a{
				font-size: 70px;
				color: #333;
				
				.fa {
					z-index: -1;
				}
				
				span {
					overflow: hidden;
				}

				.fa-gear {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.fa-laptop {
    			top: 100px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.fa-paint-brush {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
   				transition: 0.3s;
    		}

    		.fa-tablet {
    			top: 100px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.fa-cloud {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
   				transition: 0.3s;
    		}

    		.fa-money {
    			top: 100px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}
			}

			.active > span {
				color: #FFC107;
				
				.effect-up {
					top: -200px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
    			transition: 0.3s;
    		}

    		.effect {
    			top: 0px;
    			-webkit-transition: 0.3s; /* For Safari 3.1 to 6.0 */
   				transition: 0.3s;
    		}
			}
		}

		.tab-content {
			padding-top: 50px;
			padding-bottom: 20px;
			padding-left: 0px;
			padding-right: 0px;

			p {
				text-align: justify;
				font-size: 1.1em;
				font-weight: 300;
			}

			.title {
				text-align: center;
				font-size: 24px;
				font-weight: 300;
				color: #333;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			#software-development {
				padding-top: 0px;
			}

			#web-design {
				padding-top: 0px;
			}
		}

		.wrapper-services {
			text-align: center;	
			margin-top: 40px;

			i {
				font-size: 60px;
				color: #FFC107;
			}

			.title {
				font-size: 1.3em;
				font-weight: 300;
				color: #333;
				margin-top: 10px;
				margin-bottom: 10px;
			}

			.description {
				font-size: 1.1em;
				font-weight: 300;
			}
		}
	}
}

/*tablet portrait*/
@media(min-width:768px) and (orientation : portrait) {
	
}

/*keyframes*/
@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg);}
}
@-moz-keyframes spin {
0% { -moz-transform: rotate(0deg);}
100% { -moz-transform: rotate(360deg);}
}


@-webkit-keyframes cloud {
0% { -webkit-transform: translate(0px); }
25% { -webkit-transform: translate(0px, -5px); }
50% { -webkit-transform: translate(0px, 0px);}
75% { -webkit-transform: translate(0px, 5px);}
100% { -webkit-transform: translate(0px);}
}

@-moz-keyframes cloud {
0% { -moz-transform: translate(0px); }
25% { -moz-transform: translate(0px, -5px); }
50% { -moz-transform: translate(0px, 0px);}
75% { -moz-transform: translate(0px, 5px);}
100% { -moz-transform: translate(0px);}
}

@-webkit-keyframes paint {
0% { -webkit-transform: rotate(0deg); }
25% { -webkit-transform: rotate(10deg); }
50% { -webkit-transform: rotate(0deg); }
75% { -webkit-transform: rotate(-10deg); }
100% {-webkit-transform: rotate(0deg); }
}

@-moz-keyframes paint {
0% { -moz-transform: rotate(0deg); }
25% { -moz-transform: rotate(10deg); }
50% { -moz-transform: rotate(0deg); }
75% { -moz-transform: rotate(-10deg); }
100% {-moz-transform: rotate(0deg); }
}

